body {
    background-color: #121212;
    color: rgb(254, 254, 254);
    font: size 4px;
}

table {
    border-style: dotted;
    border-color: #121212;
}

th {
    text-align: center;
    font-family: monospace;
    font-size: medium;
    font-style: normal;
    color: red;
}

td {
    text-align: center;
    font-family: monospace;
    font-size: medium;
    border-right-width: 10px;
}
